.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(212, 241, 249);
  padding: 20px;
  text-align: center;
}

.input {
  width: 500px;
  padding: 10px 20px;
  border: 2px solid #e6e6fa;
}

.form {
  position: relative;
  display: inline-block;
}

.btn {
  width: 50px;
  position: absolute;
  right: 5px;
  top: 50%;
  background-color: #e6e6fa;
  border: 1px solid #bfb7e0;
  border-radius: 5px;
  transform: translateY(-50%);
  transition: background-color 100ms ease-in, border-color 100ms ease-in;
}

.btn:hover {
  background-color: #d1cdeb;
  border-color: #d1cdeb;
}
